<h1>{{post.title}}</h1>
<p>By {{post.user.username}} on {{post.created_at}}</p>
<p>{{post.content}}</p>

{{#if loggedIn}}
  <form class="comment-form" data-post-id="{{post.id}}">
    <textarea placeholder="Leave a comment..."></textarea>
    <button type="submit">Submit</button>
  </form>
{{else}}
  <p>You need to <a href="/login">log in</a> to leave a comment.</p>
{{/if}}